<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Results</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/main.css" />
</head>
<body>
    <table>
        <tbody>
            <tr>
                <td><h3>Name:</h3></td>
                <td><p><%=data.name%></p></td>
            </tr>
            <tr>
                <td><h3>Location:</h3></td>
                <td><p><%=data.location%></p></td>
            </tr>
            <tr>
                <td><h3>Favorite<br> Language:</h3></td>
                <td><p><%=data.language%></p></td>
            </tr>
            <tr>
                <td><h3>Comments:</h3></td>
                <td><p><%=data.comment%></p></td>
            </tr>
        </tbody>
    </table>
    <a href="/">Go Back</a>
</body>
</html>