*{
  margin: 0px;
  padding: 0px;
}
.wrapper{
  text-align: center;
}
fieldset{
  width: 300px;
  padding: 5px;
  margin: 10px;
}
.form{
  display: block;
}
.allTasks{
  display: inline-block;
}
button{
  background-color: #0fe267;

}
.tasks{
  border-radius: 6px;
  padding:3px;
  display: block;
}
.show{
  border-radius: 100%;
  padding: 6px;
}
h4{
  text-align: center;
}
p{
  margin:2px;
}
td{
  width:100px;
  margin:0px;
  padding:0px;
}
