<!--The content below is only a placeholder and can be replaced.-->
<h2>Restful Tasks API</h2>
<button class="tasks" (click)='getTasksFromService()'>Get All Tasks</button>
<fieldset *ngIf='tasks'>
  <table>
    <tr *ngFor='let task of tasks'>
      <td>{{task.title}}</td>
      <td>
        <button class="show" (click)='getDescription(task._id)' [id]='task._id'>Show</button>
      </td>
    </tr>
  </table>
</fieldset>
<fieldset *ngIf="description">
  <h4>{{description.title}}</h4>
  <p>{{description.description}}</p>
</fieldset>
