<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Quoting Dojo</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <% if(messages.registration) { %>
        <% for (var x of messages.registration) { %>
         <h3><%= x %></h3>
        <% } %>
    <% } %>
    <fieldset>
        <legend>Welcome To Quoting Dojo</legend>
        <form action="/quotes" method="POST">
            <div>
                <label for="">Your Name</label>
                <input type="text" name="name">
            </div>
            <div>
                <label>Your Quote</label>
                <input type="text" name="quote">
            </div>
            <button>Add Quote</button>
        </form>
        <form action="/quotes" method="GET">
            <button>Skip To Quotes</button>
        </form>
    </fieldset>
</body>
</html>